# Dependencias
node_modules

# Variables de entorno
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Salida compilada
/dist
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Archivos del sistema operativo
.DS_Store

# Pruebas
/coverage
/.nyc_output

# Configuración de editores y entornos de desarrollo
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Directorios temporales
.temp
.tmp

# Datos de ejecución
pids
*.pid
*.seed
*.pid.lock

# Informes de diagnóstico de Node.js
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

